*.iml
*.ipr
*.iws
*.orig
*.rej
.idea
.svn
.classpath
.project
.settings
*.o
*.lo
*~
target

# Eclipse
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
